head
  if title
    title #{title}
  else 
    title Pet&amp;I
  link(rel='stylesheet' type='text/css' href='/styles/style.css')
  link(rel="icon" type="image/png" href="/images/logo/favicon.png")

  meta(name='viewport' content='width=device-width, initial-scale=1')

  script(defer src='https://kit.fontawesome.com/d20e710e26.js' crossorigin='anonymous')
  script(defer src='/javascripts/mobile_menu.js')
  script(defer src='/javascripts/itemsInCart.js')