head
  if title
    title #{title}
  else 
    title Pet&amp;I
  link(rel='stylesheet' type='text/css' href='/styles/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(src='https://kit.fontawesome.com/d20e710e26.js' crossorigin='anonymous')
  script(defer src='/javascripts/mobile_menu.js')