doctype html
html
  include partials/head.pug
    

  body
    include partials/navbar.pug
    .content-wrapper
      .main
        h1 Error 404 
        h2(style='text-align: center; margin-bottom: 2rem;') Page not found
    include partials/footer.pug
