doctype html
html
  include partials/head.pug
  link(rel='stylesheet' type='text/css' href='/styles/cart.css')


  body
    include partials/navbar.pug
    .content-wrapper
      .main
        section.cart 
            h1 Your cart
            .cart-items 
                .cart-item
                    img(src='/images/floor-stand-m.jpeg' alt='product image')
                    .item-info 
                        p.title Title TitleTitle
                        p.price Price: 
                            b $ 69,99 
                    .right
                        .change-amount
                            i.far.fa-arrow-alt-circle-left.fa-lg
                            p 
                                b 12
                            i.far.fa-arrow-alt-circle-right.fa-lg
                        i.fas.fa-trash-alt.fa-lg.remove-item

                .cart-item
                    img(src='/images/key_holder.jpg' alt='product image')
                    .item-info 
                        p.title Title TitleTitle 
                        p.price Price: 
                            b $ 69,99 
                    .right  
                        .change-amount
                            i.far.fa-arrow-alt-circle-down.fa-lg
                            p 
                                b 1
                            i.far.fa-arrow-alt-circle-up.fa-lg
                        i.fas.fa-trash-alt.fa-lg.remove-item
                .cart-item
                    img(src='/images/wall-stand-m.jpeg' alt='product image')
                    .item-info 
                        p.title Title TitleTitle
                        p.price Price: 
                            b $ 69,99 
                    .right 
                        .change-amount
                            i.fas.fa-arrow-up.fa-lg
                            p 
                                b 1
                            i.fas.fa-arrow-down.fa-lg
                        i.fas.fa-trash-alt.fa-lg.remove-item
            .order-summary
                .subtotal 
                    p.subtotal Subtotal: 
                    b 200$
                .shipping
                    p.shipping Shipping: 
                    b 20$
                hr
                .total
                    p.total Total: 
                    b 220$
            button.btn-submit Checkout
    include partials/footer.pug