.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .top {
        margin-top: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    p.category {
        font-size: 1rem;
        color: var(--background-color-dark);
    }

    .rating i {
        margin-top: .75rem;
        color: #f1c83e;
    }

    hr {
        margin: 2rem 0;
    }

    .img-container .img-box img {
        width: 100%;
        border: var(--background-color-dark) solid .5px;
    }

    /* .images img {
        border: var(--background-color-dark) solid .5px;
        width: 100px;
    } */

    .middle {
        display: flex;
        margin-top: 1rem;
    }

        .left {
            width: 150px;
        }
        .right b {
            display: block;
        }

        .left p, .right p, .left b, .right b {
            margin: .25rem 0;
        }

        p.price, b.price {
            font-size: 1.75rem;
            margin-top: 1rem;
        }

        p.price {
            font-weight: bold; 
        }
    
    .bottom {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
        .bottom .wrapper span{
            margin-left: .5rem;
        }

        .bottom input {
            width: 50px;
            height: 100%;
            text-align: center;
            border: solid .5px var(--background-color-dark);
            border-radius: 15%;
        }
        
        .bottom button i {
            margin-left: 0.5rem;
        }
    
    .description p {
        margin-top: 1rem;
    }


@media screen and (min-width: 600px) {

    .main {
        margin: 0 auto;
        max-width: 1248px;
    }

    .product {
        margin: 0 2rem;
    }

            .top {
                order: 1;
            }

            .product-body {
                order: 2;
                display: flex;
            }

                .img-container {
                    max-width: 50%;
                }
            
            .product-info {
                flex: 1;
                padding: 0 1rem;
            }
                
                .middle {
                    margin: 0;
                }

                .bottom {
                    justify-content: space-between;
                    max-width: 250px;
                    /* flex: 1 1 200px; */
                }
    }
