.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .product-card:hover {
    transform: scale(1.05);
    transition: .2s;
}
.product-card:not(:hover) {
    transition: .2s;
} */


    /* .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .product-card img {
        height: 100%;
        cursor: pointer;
    }

    .product-name {
        margin-bottom: .5rem;
    }
        .product-name {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }

    .price {
        font-size: .9rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .product-buttons {
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    button.fav {
        padding: 0.2rem;
        border-radius: 25%;
        border: solid var(--background-color-dark);
        cursor: pointer;
    }

    button.fav i {
        color: var(--background-color-dark);
    }

.advantages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantage {
    flex: 0 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
}

    .advantage i {
        color: var(--color-yellow);
        padding: .5rem;
    }

    .advantage p {
        font-weight: bold;
        padding: .5rem;
    }

@media screen and (min-width: 600px) {

    .product-cards .product-card {
        flex: 1 23%;
        margin: .5rem;
    }
    .product-card:hover {
        transform: scale(1.05);
        transition: .2s;
    }
    .product-card:not(:hover) {
        transition: .2s;
    }
    
    .advantages {
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .advantage {
        flex: 0 14%;
        text-align: center;
    }

}